<ion-card routerDirection="root" routerLinkActive="selected" [routerLink]="[menu.url]" (click)="rotaService.selecionarMenuAtual(menu)" class="ion-no-padding ion-no-margin ion-align-items-end">
  <ion-card-header>
    <ion-icon [name]="menu.icon"></ion-icon>
  </ion-card-header>
  <ion-card-content class="ion-no-padding ion-align-items-end" style="margin-left: 2px; margin-top: 20%; height: 100%; max-height: 100%">
    <ion-card-title class="ion-text-wrap ion-text-start">{{ menu.title }}</ion-card-title>
  </ion-card-content>
</ion-card>
