<ion-app>
  <ion-split-pane contentId="main-conten">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-title>
          <img ngSrc="./assets/images/logo_peq.png" alt="logo" style="height: 120px; width: 100%" height="368"
               width="540">
        </ion-title>
        <ion-list id="inbox-list">
          <ion-list-header>Menu</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="lines" detail="false"
                      (click)="rotaService.selecionarMenuAtual(p)"
                      routerLinkActive="selected" *ngIf="p.title !== 'Sair'">
              <ion-icon aria-hidden="true" slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            <ion-item lines="lines" detail="false" *ngIf="p.title === 'Sair'" (click)="sair()">
              <ion-icon aria-hidden="true" slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header [translucent]="true" *ngIf="showMenu">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>{{rotaService.atualMenu?.title}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-router-outlet [class.menu-margin]="showMenu"></ion-router-outlet>
    </div>
  </ion-split-pane>
</ion-app>
